.preview>img {
    display: flex;
    border: calc(var(--responsive-size)*0.3) rgb(250, 236, 218) solid;
    border-radius: calc(var(--responsive-size) * 0.5);
    width: min-content;
    background-size: contain;
    min-width: calc(var(--responsive-size)*40);
    max-width: calc(var(--responsive-size)*80);
    justify-content: center;
}