.container_shadow {
    display: grid;
    z-index: 1;
    width: inherit;
}

.slice_shadow {
    display: grid;
    grid-area: description;
    background-color: black;
    opacity: 0.5;
}

.slice_shadow>* {
    visibility: hidden;
}

.links {
    display: grid;
    height: 100%;
    grid-area: description;
    z-index: 3;
}

:root {
    --transform_down: calc(var(--responsive-size) * 4);
    --transform_up: calc(var(--responsive-size) * -4);
}

.container {
    display: grid;
    grid-area: once;
    transition: transform 500ms ease-in-out;
    z-index: 0;
    width: inherit;
}

.slice {
    display: grid;
    height: inherit;
    align-items: center;
    border: calc(var(--responsive-size) * 0.5) solid black;
    border-radius: calc(var(--responsive-size) * 0.5);
    padding: calc(var(--responsive-size) * 2);
    min-height: calc(var(--responsive-size) * 14);
}

.parameters {
    display: grid;
}

.header {
    display: flex;
    position: relative;
    bottom: calc(var(--responsive-size) * 6);
    z-index: 1;
    padding-left: calc(var(--responsive-size) * 0.5);
    font-size: calc(var(--responsive-size) * 3);
    width: min-content;
    height: 0px;
}

.description {
    display: flex;
    padding: var(--responsive-size);
    font-size: calc(var(--responsive-size) * 2);
    z-index: 1;
}

.name {
    background-color: rgb(243, 243, 119);
    box-shadow: 0 0 min(1vh, var(--responsive-size)) rgb(243, 243, 119);
    width: max-content;
    padding: var(--responsive-size);
    border-radius: calc(var(--responsive-size) * 0.5) calc(var(--responsive-size) * 0.5) 0 0;
}

.title {
    font-size: calc(var(--responsive-size) * 2.5) !important;
    font-weight: 500;
}

.wrapper {
    display: grid;
    gap: var(--responsive-size);
}

.list {
    display: grid;
    padding-top: var(--responsive-size);
    padding-left: var(--responsive-size);
    list-style-position: inside;
    font-size: calc(var(--responsive-size) * 2);
    gap: var(--responsive-size);
    width: inherit;
}