*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  height: min-content;
  box-sizing: border-box;
}

:root {
  --color__main-theme: #fdf6ed;
  --color__main-theme_accent: #faecda;
  --color__secondary-theme: #007bff;
  --font_family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: Roboto;
  color-scheme: light dark;
  --responsive-size: 1vw;
}

@media (min-width: 1000px) {
  :root {
    --responsive-size: 10px;
  }
}

@media (max-width: 768px) {
  .main_layout {
      background-attachment: scroll;
  }
}

@media (max-width: 300px) {
  :root {
    --responsive-size: 1px;
  }
}

.app {
  display: grid;
  width: 100%;
  height: max-content;
  font-size: 1rem;
}

.main_layout {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-image: url('/src/shared/assets/preview5.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  scroll-behavior: smooth;
  min-height: 100%;
}

header {
  display: grid;
}

.header {
  position: sticky;
  top: 0;
  z-index: 4;
}

.body {
  height: max-content;
}

.plug {
  padding: calc(var(--responsive-size) * 0.5);
  background-color: rgba(153, 148, 143, 0.4);
}