.about_me {
    display: grid;
    padding: calc(var(--responsive-size)*2);
    border-radius: var(--responsive-size) var(--responsive-size) var(--responsive-size) var(--responsive-size);
    background-color: var(--color__main-theme);
    border: calc(var(--responsive-size)*0.4) var(--color__main-theme_accent) solid;
    text-align: center;
    gap: calc(var(--responsive-size)*2);
    justify-items: center;
}