.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--responsive-size));
    background-color: rgb(253, 246, 237);
    border: calc(var(--responsive-size)*0.2) rgb(250, 236, 218) solid;
    border-radius: 0 0 var(--responsive-size) var(--responsive-size);
}