.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--responsive-size);
    background-color: var(--color__main-theme);
    border: calc(var(--responsive-size)*0.4) var(--color__main-theme_accent) solid;
    border-radius: 0 0 var(--responsive-size) var(--responsive-size);
}