.main {
    display: grid;
    padding: calc(var(--responsive-size) * 0.5);
}

@media (min-width: 1500px) {
    .main {
        justify-self: center;
        width: calc(var(--responsive-size)*150);
    }
}

/*
background-image: url('/src/shared/assets/preview4.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    scroll-behavior: smooth; 
*/