.title {
    display: grid;
    justify-content: center;
    padding: calc(8 * var(--responsive-size));
}

.firstname {
    padding-left: calc(10 * var(--responsive-size));
}

.secondname {
    padding-left: calc(20 * var(--responsive-size));
}

.profession {
    display: flex;
    flex-wrap: wrap;
    font-size: calc(5 * var(--responsive-size));
    gap: calc(2 * var(--responsive-size));
    padding-left: calc(30 * var(--responsive-size));
    padding-top: calc(3 * var(--responsive-size));
}

.firstname,
.secondname {
    font-size: calc(10 * var(--responsive-size));
    font-weight: 200;
}

.developer {
    display: flex;
    flex-wrap: wrap;
}